.VPNav {
  opacity: 0.7;
  transition: opacity 0.3s !important;
}
html:hover .VPNav {
  opacity: 1;
  transform: none;
  background-color: 0;

  .home {
    background-color: transparent !important;
    backdrop-filter: blur(12px);
    .top {
      border: 1px solid #b9b9b910;
      background-color: #c0c0c010 !important;
      backdrop-filter: blur(0);
    }
  }
}

/* 搜索 */
#local-search {
  margin-left: auto;
  transform: scale(0.84);
  button {
    border-radius: 4rem;
    padding: 0.8rem 1rem;
  }
  .DocSearch-Button-Keys {
    border-radius: 4rem;
  }
}
#VPContent > div > div.VPHero.has-image.VPHomeHero > div > div.main > p {
  margin: 0.5em 0 0.2em 0;
}

#VPContent .VPHero.has-image.VPHomeHero .main {
  & > h1 {
    --lv: 0;
    --delay: 100ms;
    --start: 0ms;
    animation: keywords-enter 0.6s both;
    animation-delay: calc(var(--lv) * var(--delay) + var(--start));
  }
  .actions .action {
    .VPButton {
      border: 1px solid #b9b9b910;
      padding: 1rem;
      line-height: 0;
    }
  }
}
#VPContent .VPHomeFeatures {
  --delay: 100ms;
  --start: 0ms;
  .item:nth-child(1) {
    --lv: 3;
    animation: keywords-enter 0.6s both;
    animation-delay: calc(var(--lv) * var(--delay) + var(--start));
  }
  .item:nth-child(2) {
    --lv: 4;
    animation: keywords-enter 0.6s both;
    animation-delay: calc(var(--lv) * var(--delay) + var(--start));
  }
  .item:nth-child(3) {
    --lv: 5;
    animation: keywords-enter 0.6s both;
    animation-delay: calc(var(--lv) * var(--delay) + var(--start));
  }
  .item:nth-child(4) {
    --lv: 6;
    animation: keywords-enter 0.6s both;
    animation-delay: calc(var(--lv) * var(--delay) + var(--start));
  }
  .item:nth-child(5) {
    --lv: 7;
    animation: keywords-enter 0.6s both;
    animation-delay: calc(var(--lv) * var(--delay) + var(--start));
  }
}

/* VPHomeFeatures */
.VPHomeFeatures .VPFeature {
  border-color: #b9b9b910;
  &:hover {
    box-shadow: var(--default-shadow);
  }
}

// 卡片
.card-default {
  backdrop-filter: blur(1rem);
  border: 1px solid #b9b9b927;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 1px;
}

.VPContent {
  .content-container {
    h1:nth-of-type(1) {
      text-align: center;
    }
  }
}

// 渐入动画
/* 段落 */ 
.VPFooter,
#VPContent .VPHero.has-image.VPHomeHero .main .actions > *,
#VPContent .VPDocAsideOutline .content > *,
#VPContent > div > div > div.content > div > main > div > *,
#VPSidebarNav .VPSidebarItem > *,
.prev-next > .pager,
[data-fades] > * {
  --lv: 0;
  --delay: 100ms;
  --start: 0ms;
  animation: keywords-enter 0.8s both 1;
  animation-delay: calc(var(--start) + var(--lv) * var(--delay));
}

@for $i from 1 through 20 {
  #VPContent .VPHero.has-image.VPHomeHero .main .actions > *:nth-child(#{$i}),
  #VPContent .VPDocAsideOutline .content > *:nth-child(#{$i}),
  #VPContent > div > div > div.content > div > main > div > *:nth-child(#{$i}),
  #VPContent > div > div > div.content > div > main > div > *:nth-child(#{$i}),
  [data-fades] > *:nth-child(#{$i}) {
    --lv: #{$i};
  }
}

[data-fade] {
  --lv: 0;
  --delay: 100ms;
  --start: 0ms;
}

@media (prefers-reduced-motion: no-preference) {
  [data-fade] {
    animation: keywords-enter 0.4s both;
    animation-delay: calc(var(--lv) * var(--delay) + var(--start));
  }
}

/* 渐进动画 */
@keyframes keywords-enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
[data-fade-controller="false"] [data-fade] {
  animation: none;
}
[data-fades-controller="false"] [data-fades] > * {
  animation: none;
}
