.VPNav {
  opacity: 0.7;
  transition: opacity 0.3s !important;
}
html:hover .VPNav {
  opacity: 1;
  .home {
    .top {
      border: 1px solid #b9b9b910;
      background-color: transparent !important;
      backdrop-filter: blur(12px);
    }
  }
}

/* 搜索 */
#local-search {
  margin-left: auto;
  transform: scale(0.84);
  button {
    border-radius: 4rem;
    padding: 0.8rem 1rem;
  }
  .DocSearch-Button-Keys {
    border-radius: 4rem;
  }

}
#VPContent > div > div.VPHero.has-image.VPHomeHero > div > div.main > p {
  margin: 0.5em 0 0.2em 0;
}

#VPContent .VPHero.has-image.VPHomeHero .main {
  & > h1 {
    --lv: 0;
    --delay: 0.1s;
    --start: 0ms;
    --anima: latter-slice-top;
    animation: var(--anima) 0.5s both;
    animation-delay: calc(var(--lv) * var(--delay) + var(--start));
  }
  .actions .action {
    .VPButton {
      border: 1px solid #b9b9b910;
      padding: 1rem;
      line-height: 0;
    }
  }
}
#VPContent .VPHomeFeatures {
  --delay: 0.1s;
  --start: 0ms;
  --anima: latter-slice-top;
  .item {
    animation: var(--anima) 0.5s both;
    animation-delay: calc(var(--lv) * var(--delay) + var(--start));
    &:nth-child(1) {
      --lv: 3;
    }
    &:nth-child(2) {
      --lv: 4;
    }
    &:nth-child(3) {
      --lv: 5;
    }
    &:nth-child(4) {
      --lv: 6;
    }
    &:nth-child(5) {
      --lv: 7;
    }
  }
}

/* VPHomeFeatures */
.VPHomeFeatures .VPFeature {
  border-color: #b9b9b910;
  &:hover {
    box-shadow: var(--default-shadow);
  }
}

// 卡片
.card-default {
  backdrop-filter: blur(1rem);
  border: 1px solid #b9b9b927;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 1px;
}

.VPContent {
  .content-container {
    h1:nth-of-type(1) {
      text-align: center;
    }
  }
}

// 渐入动画
#VPSidebarNav .VPSidebarItem {
  --anima: latter-slice-right !important;
}
#VPContent .VPDocAsideOutline .content > * {
  --anima: latter-slice-left !important;
}

/* 段落 */
#VPSidebarNav .VPSidebarItem,
.VPDocOutlineItem > li,
#VPContent .content > div > main > div > div > *,
#VPContent .VPHero.has-image.VPHomeHero .main .actions > *,
[data-fades] > * {
  --lv: 0;
  --delay: 0.1s;
  --start: 0ms;
  --anima: latter-slice-top;
  animation: var(--anima) 0.5s both;
  animation-delay: calc(var(--start) + var(--lv) * var(--delay));
}

@for $i from 1 through 20 {
  #VPContent .VPHero.has-image.VPHomeHero .actions > *:nth-child(#{$i}),
  #VPSidebarNav .VPSidebarItem:nth-child(#{$i}),
  #VPContent .content > div > main > div > div > *:nth-child(#{$i}),
  [data-fades] > *:nth-child(#{$i}) {
    --lv: #{$i};
  }
}

@for $i from 1 through 30 {
  .VPDocOutlineItem > li:nth-child(#{$i}) {
  --delay: 50ms;
  --anima: latter-slice-left;
  --lv: #{$i};
  }
}

[data-fade] {
  --lv: 0;
  --delay: 0.1s;
  --start: 0ms;
  --anima: latter-slice-top;
}

@media (prefers-reduced-motion: no-preference) {
  [data-fades] > *,
  [data-fade] {
    animation: var(--anima) 0.5s both;
    animation-delay: calc(var(--lv) * var(--delay) + var(--start));
  }
}

/* 渐进动画 */
@keyframes latter-slice-top {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }

  to {
    transform: none;
  }
}
/* 渐进动画 */
@keyframes latter-slice-left {
  0% {
    opacity: 0;
    transform: translateX(12px);
  }
  to {
    transform: none;
  }
}
@keyframes latter-slice-right {
  0% {
    opacity: 0;
    transform: translateX(-12px);
  }
  to {
    transform: none;
  }
}
[data-fade-controller="false"][data-fade] {
  animation: none;
}
[data-fades-controller="false"][data-fades] > * {
  animation: none;
}

.VPDoc {
  max-width: 90vw;
  margin: 0 auto;
}


.VPLink.link.VPNavBarMenuLink span {
  letter-spacing: 0.4em;
}

.pager .VPLink {
  --at-apply: "card-df"
}



